@model StudenteViewModel
<h1>Modifica Docente</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="CorsoCodice"></label>
        <input asp-for="CorsoCodice" class="form-control" readonly />
        <span asp-validation-for="CorsoCodice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" readonly/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cognome" class="form-label"></label>
        <input type="text" class="form-control" readonly asp-for="Cognome" placeholder="Inserisci Cognome">
        <span asp-validation-for="Cognome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DataNascita" class="form-label"></label>
        <input type="text" class="form-control" asp-for="DataNascita" placeholder="Inserisci DataNascita">
        <span asp-validation-for="DataNascita" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TitoloStudio" class="form-label"></label>
        <input type="text" class="form-control" asp-for="TitoloStudio" placeholder="Inserisci Titolo di Studio">
        <span asp-validation-for="TitoloStudio" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Inserisci email ">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <input type="submit" value="Inserisci" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn btn-danger" />
    <a class="btn btn-primary" asp-action="Index" role="button">Back</a>
</form>
