@model UtenteLoginViewModel

<form method="post">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    Username:
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />
    <br />
    Password:
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Login" class="btn btn-primary" />
</form>