@model CorsoViewModel
<h1>Inserisci nuovo Corso</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="CorsoCodice" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CorsoCodice" placeholder="Inserisci codice corso">
        <span asp-validation-for="CorsoCodice" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Inserisci nome corso">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Descrizione" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Descrizione" placeholder="Inserisci descrizione corso">
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>

    <input type="submit" value="Inserisci" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn btn-danger" />
    <a class="btn btn-primary" asp-action="Index" role="button">Back</a>
</form>
